<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @plan.company_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @plan.name %>
</p>

<p>
  <strong>Interval:</strong>
  <%= @plan.interval %>
</p>

<p>
  <strong>Days:</strong>
  <ul>
  <% @plan.days_of_the_week.map do |days| %>
    <li><%= days.to_s.capitalize %></li>
  <% end %>
  </ul>
</p>

<p>
  <strong>Price:</strong>
  <%= cents_to_dollars(@plan.total_price) %>
</p>


<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
