<%= form_for @company, url: {action: "create"} do |f| %>
  <%= render 'shared/errors', object: @company %>
  <div>
    <%= f.label :name, "Company Name" %>
    <%= f.text_field :name, placeholder: "Hound Industries" %>
    <p>This will show up in menus and headings. This is your public-facing name that your clients see.</p>
  </div>
  <div>
    <%= f.label :url, "Company Website" %>
    <%= f.url_field :url, placeholder: "http://your_amazing_company.com" %>
    <p>This is your public-facing web-presence. </p>
  </div>

  <div>
    <%= f.label :phone_number, "Phone Number" %>
    <%= f.text_field(:phone_number) %>
    <p>This is your public-facing telephone number where you're clients can reach you at.</p>
  </div>

  <%= button_tag(type: 'submit') do %>
  Next
  <% end %>
<% end %>

