<!DOCTYPE html>
<html>
  <head>
    <title>Hound</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <%= render "shared/landing_page_navigation" %>
    <%= render "shared/flash" %>
    <section>
      <%= yield %>
    </section>
  </body>
</html>
